@charset "IBM437";
* {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */ }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

body {
  height: 6000px; }

.container {
  margin: 0px auto;
  position: fixed;
  width: 100%;
  height: 100%; }

.loader {
  background: green;
  color: white;
  font-size: 30px;
  margin: 0px auto;
  width: 300px; }

.galaxy_bg, .opaque, .stars_1, .stars_2, .stars_3, .stars_4, .stars_5,
.stars_6, .clouds_1, .clouds_2, .clouds_3, .clouds_4, .div1,
.r, .uthie {
  position: absolute; }

.galaxy_bg {
  background: url(../images/galaxy.jpg) top center;
  width: 100%;
  height: 110%;
  top: 0%;
  left: 0%;
  position: absolute;
  z-index: -1; }

.opaque {
  background: url(../images/white-opaque.png);
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  z-index: -90;
  top: 0px;
  left: 0px; }

.stars_1 {
  width: 1000px;
  height: 500px;
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0px;
  top: 1000px; }

.stars_2 {
  width: 1000px;
  height: 500px;
  background: url(../images/stars-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  top: 0px; }

.stars_3 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 400px;
  left: 0;
  top: 0px; }

.stars_4 {
  background: url(../images/stars-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 0px; }

.stars_5 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 300px; }

.stars_6 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 0px; }

.clouds_1 {
  background: url(../images/clouds-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  left: 0;
  top: 200px; }

.clouds_2 {
  background: url(../images/clouds-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 704px;
  right: 0;
  top: 0px; }

.clouds_3 {
  background: url(../images/clouds-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 704px;
  left: 0;
  top: 500px; }

.clouds_4 {
  background: url(../images/clouds-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 322px;
  right: 0;
  top: 600px; }

.r {
  background: url(../images/r.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 186px;
  height: 267px;
  left: 100px;
  top: -50%;
  opacity: 0; }

.uthie {
  background: url(../images/uthie.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 374px;
  height: 95px;
  left: 250px;
  top: -50%;
  opacity: 0; }
